/* CSS Styling for Reddit Top 5 Gif Web App */


/*-- general --*/

* {
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1300px;
}

.container {
  padding: 5px;
}
/*-- color --*/

/*-- components --*/

#hero-container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

#hero-container * {
   /*padding: 0 5px;*/
}

ul {
  list-style: none;
}
.gif-container {
  max-width: 740px;
  margin: 50px auto;
  float: none;
}

.thumb {
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.header {
  margin-bottom: 25px;
}

div.dropdown {
  display: inline-block;
}

video {
  width: 100%;
}

.thumb:hover {
  cursor: pointer;
}

.mask {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  color: #fff;
  background: rgba(0,0,0,.3);
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 65px !important;
  width: 100%;
  height: 100%;
}

.mask:hover {
  opacity: 1;
}

#hero-container .mask {
  height: 90%;
}
