/* CSS Styling for Reddit Top 5 Gif Web App */


/*-- general --*/

/*-- color --*/

/*-- components --*/

ul {
  list-style: none;
}
.gif-container {
  max-width: 740px;
  margin: 50px auto;
  float: none;
}

.thumb {
  box-sizing: border-box;
  padding: 5px;
}

.header {
  margin-bottom: 25px;
}

div.dropdown {
  display: inline-block;
}

video {
  width: 100%;
}

.thumb:hover {
  cursor: pointer;
}
